In [2]:
import pandas as pd
#說明文件
pd?

Type:        module
String form: <module 'pandas' from 'c:\\Users\\USER\\AppData\\Local\\Programs\\Python\\Python37\\lib\\site-packages\\pandas\\__init__.py'>
File:        c:\users\user\appdata\local\programs\python\python37\lib\site-packages\pandas\__init__.py
Docstring:
pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.

## Pandas Series物件
是一個被索引資料的一維陣列，它可以使用一個串列或陣列來建立

In [3]:
data = pd.Series([0.25,0.5,0.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.values, data.index

(array([0.25, 0.5 , 0.75, 1.  ]), RangeIndex(start=0, stop=4, step=1))

In [5]:
data[1]

0.5

In [6]:
data[1:3]

1    0.50
2    0.75
dtype: float64

## 使用Series當作是一般化的 Numpy 陣列
兩者最不同的地方是索引的呈現
* NumPy的陣列隱含是使用整數所引來存取值
* Pandas Series需要明確定義和值相關聯的索引 (索引種類較多元)

In [7]:
data = pd.Series([0.25,0.5,0.75,1.0], index=['a','b',3,'d'])
data

a    0.25
b    0.50
3    0.75
d    1.00
dtype: float64

In [8]:
data['a'],data[3]

(0.25, 0.75)

## 把 Series 當做是特殊化的字典 (Dictionary)
key 跟 value

In [9]:
population_dict = {'California':38332521,
                   'Texas':16549845,
                   'New York':6549846,
                   'Florida':1564987,
                   'Illinois':1234567
                   }
population = pd.Series(population_dict)
population

California    38332521
Texas         16549845
New York       6549846
Florida        1564987
Illinois       1234567
dtype: int64

In [10]:
# 切片
population['California':'New York']

California    38332521
Texas         16549845
New York       6549846
dtype: int64

In [11]:
## 建構Series物件
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [12]:
pd.Series(5,index=[300,100,200])

300    5
100    5
200    5
dtype: int64

In [13]:
pd.Series( {2:'a',1:'b',3:'c'},index=[3,2] )

3    c
2    a
dtype: object

## Pandas DataFrame 物件

In [14]:
area_dict = {'California':38332521,
                   'Texas':16549845,
                   'New York':6549846,
                   'Florida':1564987,
                   'Illinois':1234567
                   }
area = pd.Series(area_dict)
states = pd.DataFrame({'population': population, 'area': area})
states

            population      area
California    38332521  38332521
Texas         16549845  16549845
New York       6549846   6549846
Florida        1564987   1564987
Illinois       1234567   1234567

In [15]:
states.index, states.columns

(Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object'),
 Index(['population', 'area'], dtype='object'))

In [16]:
states['area']

California    38332521
Texas         16549845
New York       6549846
Florida        1564987
Illinois       1234567
Name: area, dtype: int64

In [17]:
pd.DataFrame(population,columns=['population'])

            population
California    38332521
Texas         16549845
New York       6549846
Florida        1564987
Illinois       1234567

In [18]:
#從字典的list建立
data = [{'a':i,'b':2*i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [19]:
# 缺值補 NaN 
pd.DataFrame([{'a':1,'b':2},{'b':3,'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [20]:
# 從 Series 物件的字典建立
pd.DataFrame({'population':population,'area':area})

            population      area
California    38332521  38332521
Texas         16549845  16549845
New York       6549846   6549846
Florida        1564987   1564987
Illinois       1234567   1234567

In [21]:
# 從 NumPy 的二維陣列來建立
import numpy as np
pd.DataFrame(np.random.rand(3,2),columns=['foo','bar'],index=['a','b','c'])

        foo       bar
a  0.674187  0.974471
b  0.939386  0.733516
c  0.423713  0.905344

In [23]:
# 從 NumPy 的結構陣列
A = np.zeros(3, dtype=[('A','i8'),('B','f8')])
print(A)
pd.DataFrame(A)

[(0, 0.) (0, 0.) (0, 0.)]

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

# Pandas 的 Index 物件
* 想成是一個不能修改的陣列(immutable array)或有序的集合(ordered set)

In [24]:
ind = pd.Index([2,3,4,5,6])
ind

Int64Index([2, 3, 4, 5, 6], dtype='int64')

In [25]:
# 把 Index 當作是不可修改的陣列
ind[1], ind[::2]

(3, Int64Index([2, 4, 6], dtype='int64'))

In [26]:
ind.size, ind.shape, ind.ndim, ind.dtype

(5, (5,), 1, dtype('int64'))

In [27]:
# 索引是不能夠修改的
ind[1] = 0

TypeError: Index does not support mutable operations

In [28]:
# Index 當作是有序的集合
indA = pd.Index([1,2,3,4,5])
indB = pd.Index([3,4,5,6,7])
indA & indB, indA | indB, indA ^ indB

c:\Users\USER\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead
  after removing the cwd from sys.path.
c:\Users\USER\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead
  after removing the cwd from sys.path.
c:\Users\USER\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Index.__xor__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__xor__.  Use index.symmetric_difference(other) instead
  after removing the cwd from sys.path.

(Int64Index([3, 4, 5], dtype='int64'),
 Int64Index([1, 2, 3, 4, 5, 6, 7], dtype='int64'),
 Int64Index([1, 2, 6, 7], dtype='int64'))